H4{
    COLOR:BROWN;
    BACKGROUND-COLOR: AQUAMARINE;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

P{
COLOR: BROWN;
BACKGROUND-COLOR: PINK

}

body{
   
    background-color:blue

}
